body {
  text-align: left;
  background-color: #EEEEEE;
}

.center {
  position: relative;
  top: 15%;
  /* transform: translateY(-50%); */
  max-width: 450px;
  margin: 0 auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #00ADB5;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #222831;
}

a {
  color: #393E46;
}

@media (max-width: 768px){
  .center{
    top: 15%;
    padding: 0 25px;
  }
}

.circular {
  position: absolute;
  top: -5%;
  right: 105%;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
